body{
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    /* font-weight: lighter; */
    padding: 10px;
    letter-spacing: 0.2px;
}

header img{
    width: 14px;
    height: 16px;
    background-color: rgb(200, 200, 200);
    margin-left: 11%;
}
header img:hover{
    background-color: white;
}
header button{
    background-color: black;
}
header button img{
    width: 15px;
    height: 15px;
    background-color: rgb(200, 200, 200);
    margin-left: 35px;
}
header a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    margin-left: 35px;   
}
header a:hover{
    color: white;
}
.flex1{
    background-color: rgb(32, 32, 32);
    padding: 1px;
    text-align: center;
    color: white;
    font-size: 14.5px;
}
.flex1 a{
    color: rgb(0, 140, 255);
    text-decoration: none;
}
.flex1 a:hover{
    text-decoration: underline;
}
.flex2{
    padding: 20px;
    background-color: black;
    height: 653px;
    color: white;
    text-align: center;
}
.flex2 h1{
    font-size: 60px;
    color: white;
}
.flex2 h4{
    margin-top: -40px;
    font-size: 25px;
}
.flex2 h6{
    font-size: 15px;
    font-weight: lighter;
    margin-top: -10px;
    color: rgb(201, 201, 201);
    border: 1px solid rgb(198, 198, 198);
    padding: 5px;
    width: 150px;
    border-radius: 20px;
    margin-left: 43%;
}
.flex2 a{
    padding-right: 40px;
    color: rgb(0, 140, 255);
    text-decoration: none;
    font-size: 23px;
}
.flex2 a:hover{
    text-decoration: underline;
}
.flex2 img{
    height: 400px;  
}
.flex3{
    background-color: rgb(255, 255, 255);
    height: 625px;
    padding: 20px;
    text-align: center;
}
.flex3 h1{
    font-size: 60px;
}
.flex3 h6{
    font-size: 30px;
    font-weight:400;
    margin-top: -43px;    
}
.flex3 p{
    border: 1px solid rgb(69, 69, 69);
    width: 150px;
    padding: 5px;
    border-radius: 25px;
    color: rgb(72, 72, 72);
    margin-left: 520px;
    margin-top: -50px;
}
.flex3 a{
    font-size: 20px;
    padding-right: 30px;
    color: rgb(0, 92, 167);
    text-decoration: none;
}
.flex3 a:hover{
    text-decoration: underline;
}
.flex3 img{
    height: 380px;
}
.flex4{
    background-color: coral;
    height: 572px;
}
.flex4 video{
    margin-left: -40px;
    width: 106.7%;
}
.flex4 figcaption{
    position: absolute;
    top: 260%;
    left: 30%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.flex4 p{
    font-size:30px;
    font-weight:500;
}
.flex4 h6{
    font-size: 150px;
    font-weight: 500;
    margin-top: -70px;
}
.flex4 button{
    padding: 12px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 25px;
    margin-right: 50px;
    font-size: 17px;
    width: 150px;
}
.flex4 button:hover{
    background-color: rgba(255, 255, 255, 0.715);
}
.grid{
    height: auto;
    width: 97.5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
    background-color: white;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.grid1{
    background-color: rgb(0, 0, 0);
    height: 580px;
    color: white;
    text-align: center;
}
.grid1 img{
    width: 450px;
}
.grid1 h5{
    font-size: 40px;
}
.grid1 p{
    font-size: 20px;
    margin-top: -70px;
}
.grid1 a{
    text-decoration: none;
    color: rgb(18, 160, 255);
    font-size: 18px;
    margin-right: 25px;
}
.grid1 a:hover{
    text-decoration: underline;
}
.grid2{
    background-color: rgb(255, 255, 255);
    height: 580px;
    text-align: center;
}
.grid2 img{
    margin-top: 39px;
    width: 608px;
}
.grid2 h5{
    font-size: 35px;
}
.grid2 h6{
    font-size: 13px;
    color: rgb(210, 89, 46);
    margin-top: -60px;
    letter-spacing: 2px;
}
.grid2 p{
    font-size: 20px;
    margin-top: -25px;
}
.grid2 a{
    font-size: 18px;
    text-decoration: none;
    margin-right: 25px;
    color: rgb(18, 160, 255);
}
.grid2 a:hover{
    text-decoration: underline;
}
.grid3{
    background-color: black;
    height: 580px;
    color: white;
    text-align: center;
}
.grid3 img{
    width: 610px;
    margin-top: 50px;
}
.grid3 h5{
    font-size: 40px;
    font-weight: 500;
}
.grid3 h6{
    font-size: 20px;
    font-weight: 400;
    margin-top: -65px;
}
.grid3 a{
    font-size: 17px;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(18, 160, 255);
}
.grid3 a:hover{
    text-decoration: underline;
}
.grid4{
    background-color: rgb(0, 0, 0);
    height: 580px;
    color: white;
    text-align: center;
}
.grid4 img{
    width: 500px;
    margin-top: 200px;
}
.grid4 figcaption{
    position: absolute;
    left: 68%;
    top: 427%;
}
.grid4 h5{
    font-size: 40px;
    font-weight: 500;
}
.grid4 h6{
    font-size: 20px;
    font-weight: 400;
    margin-top: -65px;
}
.grid4 a{
    font-size: 17px;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(18, 160, 255);
}
.grid4 a:hover{
    text-decoration: underline;
}
.grid5{
    background-color: black;
    height: 580px;
    text-align: center;
    color: white;
}
.grid5 img{
    margin-top: 94px;
    width: 430px;
}
.grid5 h5{
    font-size: 35px;
}
.grid5 h6{
    font-size: 13px;
    color: rgb(196, 46, 59);
    margin-top: -60px;
    letter-spacing: 2px;
}
.grid5 p{
    font-size: 20px;
    margin-top: -25px;
}
.grid5 a{
    font-size: 18px;
    text-decoration: none;
    margin-right: 25px;
    color: rgb(18, 160, 255);
}
.grid5 a:hover{
    text-decoration: underline;
}
.grid6{
    background-color: rgb(255, 255, 255);
    height: 580px;
    color: black;
    text-align: center;
}
.grid6 img{
    width: 250px;
    margin-top:30px ;
}
.grid6 h5{
    font-size: 40px;
    font-weight: 500;
}
.grid6 h6{
    font-size: 20px;
    font-weight: 400;
    margin-top: -65px;
}
.grid6 a{
    font-size: 17px;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(18, 160, 255);
}
.grid6 a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgb(244, 244, 244);
    height: 900px;
    margin-top: -100px;   
}
footer td{
    border: 1px solid transparent;
}
footer table{
    margin: 150px;
    justify-content: center;
    color: grey;
}
footer a{
    text-decoration: none;
    font-size: 12px;
    color: grey;
}
footer a:hover{
    text-decoration:underline;
}
footer p{
    font-size: 11px;
}
.blackfont{
    color: rgb(97, 97, 97);
}
.singleline p{
    display: inline;
}
.singleline a{
    margin-left: 15px;
    padding-right: 15px;
}
.blue a{
    color: blue;
    text-decoration: underline;
}
.blue{
    border-bottom: 1px solid rgb(175, 175, 175) ;
}